#blackboard {
    height: 70%;
    width: 70%;
    display: block;
    /*float: right;*/
    float: left;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-right: 2em;
    background: url("../images/board.jpg");
    background-size: contain;
    color: white;
    border: 4px solid #C9916E;
    border-bottom: none;
    font-family: 'Bad Script', cursive;
}
h2{
    padding-top: .5em;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    font-family: 'Homemade Apple', cursive;
}
#blackboard label{
    padding: 1em;
    font-size: 1.7rem;
}
#blackboard .answers {
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
    border-bottom: 2px solid white;
    display: inline-block;
    font-family: 'Bad Script', cursive;
    font-size: 1.7rem;
    width: 8em;
    padding-left: .5em;
}
#blackboard .checked{
    font-size: 1.7rem;
    display: inline-block;
    padding-left: 1em;
}
#blackboard .error{
    color: #e8a393;
    padding-right: .5em;
}
#blackboard .correct{
    color: #fcffac;
    padding-right: .5em;
}
#send{
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Homemade Apple', cursive;
    float: right;
    margin-right: 3em;
    font-size: 1.5rem;
    cursor: pointer;
}
#equations{
    overflow-y: scroll;
    height: 55%;
    width: 90%;
    margin: auto;
    display: block;
}
/*New Equation*/
#newEquation{
    margin: auto;
    display: block;
    width: 35%;
    font-family: sans-serif;
}
#add{
    clear: both;
    display: block;
    float: right;
    margin-right: 36%;
    margin-top: 1em;
    padding: .5em 1.5em;
}
#newEquation div{
    margin-bottom: .5em;
}
#newEquation label{
    width: 13em;
    display: inline-block;
    font-weight: bold;
}
#newEquation input{
    width: 14em;
}
label.likelyA{
    color: #396985;
    font-weight: normal!important;
}
label.likelyM{
    color: #42853c;
    font-weight: normal!important;
}

#save {
    padding: .5em 1.5em;
    float: right;
    margin-top: 1em;
    margin-right: 10%;
}